<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Orchestrator Extensibility" value="https://uipath.pkgs.visualstudio.com/_packaging/CredentialStoreSDK/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>