<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/UiPath/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="AndreiCristeaUiPath" />
            <add key="ClearTextPassword" value="92b9b9472b3bec11fd1b1fcac2b28ba4899a0955" />
        </github>
    </packageSourceCredentials>
</configuration>
